<div>
    <h1 style="color:blue; text-align:center">Restaurar tu contrasenia</h1>
    </br>
    <div style = "text-align:center ;">
       
    </div>
    <h2>Este correo te permitira cambiar tu contrasenia</h2>
    <p>
        La nueva contrasenia debe ser diferente a la actual
    </p>
    <p> Clickea <a href="http://localhost:8080/restorePassword?token={{restoreToken}}">aqui </a>para restablecer tu contrasenia</p>
</div>