
<div>
   <h1>Por favor logearse</h1>
    <form id="loginForm">

         <label>Email</label>
        <input name="email">

          <label>Password</label>
        <input type="password" name="password">

        <input type="submit">

    </form>
</div>
<p>Si no cuenta con un usuario.Por favor <a href="/register"> Registrarse </a></p>
<p>Tambien puedes logearte con:</p>
<a href="/api/sessions/github"><button>Github</button></a>
<p>Olvidaste tu contrasenia?<a href="/restoreRequest"> Restaurar contrasenia</a></p>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/login.js"></script>