 <div>
        <h1>Hola {{user.name}}</h1>
        <p>{{user.email}}</p>
        <p>Tu rol es de {{user.rol}}</p>
     
    </div>
    <button id="logOutButton" type="submit" class="btn logOutButtonStyle m-3" >Log Out</button>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/logout.js" type="module"></script>