
<div>
<h1>Orden de compra</h1>
<h2>Gracias por su compra {{ticket.purchase}}</h2>
<h2>El numero de orden de compra {{ticket.code}}</h2>
<h2>El total de la orden: ${{ticket.amopunt}}</h2>

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/checkout.js" type="module"></script>