
<div class="container">

  <div class="row mx-3">
    <h1 class="col-12 text-center">Real Time Carts</h1>
    <div id="homeCart">
      
      
    </div>
    <div id="cartContent"></div>
  </div>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/realTimeCart.js"></script>