<div>
     <button id="logOutButton" type="submit" class="btn logOutButtonStyle m-3" >Logout</button>
</div>

<form class="row g-3 mx-4" name="form" id="form" method="POST"  enctype="multipart/form-data">
    <div class="col-md-4">
        <label for="" class="form-label">
            Title:
        </label>
        <input name="title" type="text" class="form-control" id="title"required>
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">
            Description:
        </label>
        <input name="description" type="text" class="form-control" id="description" required>
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">
            Price:
        </label>
        <input name="price" type="number" class="form-control" id="price" required>
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">
            Code:
        </label>
        <input name="code" type="text" class="form-control" id="code" required>
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">
            Stock:
        </label>
        <input name="stock" type="number" class="form-control" id="stock" required>
    </div>
    <div class="form-check mx-4">
        <input name="status" class="form-check-input" type="checkbox" value="Active" id="flexCheckChecked" checked="">
        <label class="form-check-label" for="flexCheckChecked">
            Status
        </label>
    </div>
    <div class="col-md-4">
        <label for="" class="form-label">
            Category:
        </label>
        <input name="category" type="text" class="form-control" id="category" required>
    </div>
    <div class="col-md-4">
    <div class="col-md-4">
        <label for="" class="form-label">
            Thumbnails:
        </label>
        <input name="thumbnails" type="file" class="form-control" id="thumbnails">
    </div>
    
    <div class="col-12">
        <button class="btn btn-primary" type="submit">Send</button>
    </div>
</form>
<br>
<div class="row mt-4" id="products">

</div>

<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/realTimeProducts.js" type="module"></script>
<script src="/js/logout.js" type="module"></script>