<h1> Escribe tu email asociado a la cuenta</h1>
<p> Si su correo se encuentra en nuestra base de datos recibira un email de restauracion</p>

<form id="restoreRequestForm">
    <input name="email">
    <input type="submit" id="submitter">
</form>
<p id="message"></p>
<script src="/js/restoreRequest.js"></script>