   <form id="searchForm">
<h1>Edite a un usuario</h1>
<h3>Que usuario quiere buscar?</h3>
         <label>Search</label>
        <input name="id">
        <button id="searchUserButton" type="submit" class="btn searchUserButtonStyle m-3">Buscar</button>
    </form>
    <br>
      <button>
        <a href="/realTimeProducts" class="btn btn-secondary m-3 keep-shopping-btn">Volver al Inicio</a>
    </button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/search.js"></script>