<title>User Role</title>

<h1>{{ userh.email }}</h1>
<h2 id="actualRole">Tu rol es de <span id="roleValue">{{userh.role}}</span></h2>

<div>

    <form id="roleForm">

        <label for="roles">Elige un tipo de rol:</label>
        <input id="role_u" class="premium" type="radio" name="role" value="USER" checked>

        <label for="role_u">USER</label>
        <input id="role_p" class="premium" type="radio" name="role" value="PREMIUM">

        <label for="role_p">PREMIUM</label>
        <button id="modifyRole" type="submit" class="btn modifyButtonStyle m-3" data-id="{{userh._id}}">Submit</button>
        
    </form>

</div>

<button>
    <a href="/profile" class="btn btn-secondary m-3 add-product-btn">Volver al Perfil</a>
</button>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/js/role.js" type="module"></script>